# origin main shortcut
export PATH=$PATH:$HOME/rust-scripts/scripts
CONSOLE_CMD="docker exec -it rnode /ton-node/tools/console -C /ton-node/configs/console.json"
alias rnode="docker exec -it rnode /bin/bash"
alias getstats="$CONSOLE_CMD -c getstats"
TIMEDIFF="$CONSOLE_CMD -jc getstats | grep 'timediff' | tr -d '\"\,	' | sed 's/:/: /g'"
alias timediff=$TIMEDIFF

DOCKER_COMPOSE_PATH="$HOME/main.ton.dev/docker-compose/ton-node"
alias rnodeStop="cd $DOCKER_COMPOSE_PATH && docker-compose stop"
alias rnodeRestart="cd $DOCKER_COMPOSE_PATH && docker-compose restart"

RUST_SCRIPTS_PATH="$HOME/rust-scripts"
TOOLS_PATH="$RUST_SCRIPTS_PATH/tools"
SCRIPTS_PATH="$RUST_SCRIPTS_PATH/scripts"
MONIT_PATH="$RUST_SCRIPTS_PATH/monitoring"
KEYS_PATH="$HOME/keys"

alias rust="cd $RUST_SCRIPTS_PATH"
alias tools="cd $TOOLS_PATH"
alias scripts="cd $SCRIPTS_PATH"
alias setup="cd $SCRIPTS_PATH/setup"
alias monit="cd $MONIT_PATH"
alias keys="cd $KEYS_PATH"

TONOS_CLI="$TOOLS_PATH/tonos-cli -c $TOOLS_PATH/tonos-cli.conf.json"
alias tonos=$TONOS_CLI
alias server="cat $HOME/serverno"

ELECTION_CHECK="$SCRIPTS_PATH/rust-election-state.sh"
PARTICIPANT_CHECK="$SCRIPTS_PATH/rust-participant-state.sh"
VALIDATE_CHECK="$SCRIPTS_PATH/rust-validate-state.sh"
DB_CHECK="df -h / | awk 'FNR == 2 {print \$4}'"

alias state="clear; printf 'serverno: '; cat $HOME/serverno; $TIMEDIFF; printf 'DB Avail: '; $DB_CHECK; $VALIDATE_CHECK | grep false; $PARTICIPANT_CHECK | grep NOT_FOUND;"
alias election=$ELECTION_CHECK
alias participant=$PARTICIPANT_CHECK
alias validate=$VALIDATE_CHECK
alias db=$DB_CHECK

alias getParticipantInfo="$SCRIPTS_PATH/getParticipantInfo.sh"
alias confirm="$SCRIPTS_PATH/rust-confirm-transaction.sh"

alias validator="$TONOS_CLI account $(cat $KEYS_PATH/validator.addr)"
alias depool="$TONOS_CLI account $(cat $KEYS_PATH/depool.addr)"
alias validatoraddr="cat $KEYS_PATH/validator.addr"
alias depooladdr="cat $KEYS_PATH/depool.addr"
alias validatorbalance="$SCRIPTS_PATH/validatorBalance.sh"
alias depoolbalance="$SCRIPTS_PATH/depoolBalance.sh"

alias gram="$SCRIPTS_PATH/hex2gram.sh"

alias ipme="curl -sS ip.me"

# ~/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
HISTCONTROL=ignoreboth

# append to the history file, don't overwrite it
shopt -s histappend

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=1000
HISTFILESIZE=2000

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# If set, the pattern "**" used in a pathname expansion context will
# match all files and zero or more directories and subdirectories.
#shopt -s globstar

# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# set variable identifying the chroot you work in (used in the prompt below)
if [ -z "${debian_chroot:-}" ] && [ -r /etc/debian_chroot ]; then
    debian_chroot=$(cat /etc/debian_chroot)
fi

# set a fancy prompt (non-color, unless we know we "want" color)
case "$TERM" in
    xterm-color|*-256color) color_prompt=yes;;
esac

# uncomment for a colored prompt, if the terminal has the capability; turned
# off by default to not distract the user: the focus in a terminal window
# should be on the output of commands, not on the prompt
#force_color_prompt=yes

if [ -n "$force_color_prompt" ]; then
    if [ -x /usr/bin/tput ] && tput setaf 1 >&/dev/null; then
	# We have color support; assume it's compliant with Ecma-48
	# (ISO/IEC-6429). (Lack of such support is extremely rare, and such
	# a case would tend to support setf rather than setaf.)
	color_prompt=yes
    else
	color_prompt=
    fi
fi

if [ "$color_prompt" = yes ]; then
    PS1='${debian_chroot:+($debian_chroot)}\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
else
    PS1='${debian_chroot:+($debian_chroot)}\u@\h:\w\$ '
fi
unset color_prompt force_color_prompt

# If this is an xterm set the title to user@host:dir
case "$TERM" in
xterm*|rxvt*)
    PS1="\[\e]0;${debian_chroot:+($debian_chroot)}\u@\h: \w\a\]$PS1"
    ;;
*)
    ;;
esac

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# colored GCC warnings and errors
#export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# Alias definitions.
# You may want to put all your additions into a separate file like
# ~/.bash_aliases, instead of adding them here directly.
# See /usr/share/doc/bash-doc/examples in the bash-doc package.

if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi

# enable programmable completion features (you don't need to enable
# this, if it's already enabled in /etc/bash.bashrc and /etc/profile
# sources /etc/bash.bashrc).
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi
