# DePool Balance refill
*/30 * * * * /bin/bash && export PATH=$PATH:$HOME/rust-scripts/scripts && cd $HOME/rust-scripts/scripts && refill.sh >> $HOME/rust-scripts/logs/refill.log

# Clean Log
0 3 * * 1,4 /bin/bash && export PATH=$PATH:$HOME/rust-scripts/scripts && cd $HOME/rust-scripts/scripts && rust-clean-log.sh

# Confirm Transaction
#*/10 * * * * /bin/bash && export PATH=$PATH:$HOME/rust-scripts/scripts && cd $HOME/rust-scripts/scripts && rust-confirm-transaction.sh
