# DePool Balance refill
*/10 * * * * /bin/bash && export PATH=$PATH:$HOME/rust-scripts/scripts && cd $HOME/rust-scripts/scripts && refill.sh >> $HOME/rust-scripts/logs/refill.log

# Automate ticktock depool
# It will ticktock depool once in election cycle
#*/3 * * * * /bin/bash && export PATH=$PATH:/opt/freeton/scripts && cd /opt/freeton/scripts && ton-depool-ticktok.sh >> /opt/freeton/logs/crontab-ton-depool-ticktok.log

# Automate send validation request
# It will send validation request
#*/10 * * * * /bin/bash && export PATH=$PATH:/opt/freeton/scripts && cd /opt/freeton/scripts && ton-depool-validation-request.sh >> /opt/freeton/logs/crontab-ton-depool-validation-request.log
